h1{color: rgb(255, 255, 255);}
      html {
          background-image: url(../img/0b1196766cf9ac9200cf73526ae6da5d.gif);
      }
      h2{color: rgb(255, 255, 255);}
      h3{color: rgb(255, 255, 255);}
      

        
